Node-RED/flow.json
[
  {
    "id": "1ae4dfe7.1ddc38",
    "type": "tcp in",
    "z": "6c3019e7.2fab48",
    "name": "WSN-1 Data",
    "server": "client",
    "host": "localhost",
    "port": "60001",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "~E",
    "topic": "",
    "base64": false,
    "x": 102.5,
    "y": 64,
    "wires": [
      [
        "33348057.3a4c3"
      ]
    ]
  },
  {
    "id": "33348057.3a4c3",
    "type": "function",
    "z": "6c3019e7.2fab48",
    "name": "Read & Parse Data",
    "func": "//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 4;\nvar temMsg = {};\nvar humMsg = {};\nvar serMsg = {};\nvar tem_payload;\nvar hum_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttem_payload = context.bytes_array.slice(10,-5);\n\thum_payload = context.bytes_array.slice(12,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOD (HEX FORMAT)\n\tvar byte_tem_payload = new Buffer(tem_payload.length);\n\tfor(var i=0;i<tem_payload.length;i++){\n\t\tbyte_tem_payload[i] = tem_payload[i];\n\t}\n\t\n\tvar byte_hum_payload = new Buffer(hum_payload.length);\n\tfor(var i=0;i<hum_payload.length;i++){\n\t\tbyte_hum_payload[i] = hum_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tvar num_tem = byte_tem_payload.readUInt16BE(0,2);\n\ttemMsg = {payload: num_tem};\n\t\n\tvar num_hum = byte_hum_payload.readUInt16BE(0,2);\n\thumMsg = {payload: num_hum};\n\t\n\t// ranging samples from [0 , 2^16-1] to [0 , 100]\n\tvar temp = Math.round(num_tem*(100/65534));\n\tvar humid = Math.round(num_hum*(100/65534));\n\t\n\t//MAKE a Serial Data string out of TWO Single Fields\n\t//serMsg.temperature = temp;\n\t//serMsg.humidity = humid;\n\tserMsg.payload = {};\n\tvar newdate = new Date().toTimeString();\n\tserMsg.payload.date = newdate;\n\tserMsg.payload.Humidity = humid;\n\tserMsg.payload.Temperature = temp;\n\n\t//return [msg,temMsg,humMsg,serMsg];\n\treturn [serMsg];\n}\nelse{\n\treturn null;\n}\n\n\n",
    "outputs": "1",
    "noerr": 0,
    "x": 282.44440841674805,
    "y": 63.7778263092041,
    "wires": [
      [
        "adc2599f.761b9"
      ]
    ]
  },
  {
    "id": "adc2599f.761b9",
    "type": "http request",
    "z": "6c3019e7.2fab48",
    "name": "Send to TS Ch01",
    "method": "POST",
    "ret": "txt",
    "url": "https://api.thingspeak.com/update?api_key=XXXXXXXX={{payload.Temperature}}&field2={{payload.Humidity}}",
    "tls": "",
    "x": 483.8736801147461,
    "y": 63.8383903503418,
    "wires": [
      []
    ]
  },
  {
    "id": "27db79f3.f4c3c6",
    "type": "switch",
    "z": "6c3019e7.2fab48",
    "name": "Temp>50",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "50",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 740,
    "y": 97,
    "wires": [
      [
        "615357be.5f10c8"
      ]
    ]
  },
  {
    "id": "314420b8.d304b",
    "type": "change",
    "z": "6c3019e7.2fab48",
    "name": "Subject",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "node-red_alert",
        "tot": "str"
      }
    ],
    "x": 920,
    "y": 37,
    "wires": [
      [
        "f4973854.a897e"
      ]
    ]
  },
  {
    "id": "615357be.5f10c8",
    "type": "template",
    "z": "6c3019e7.2fab48",
    "name": "Social Text",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "This alert has sent to notify high Temperture detection: {{payload}} Celsius !\nTake care.",
    "x": 790,
    "y": 157,
    "wires": [
      [
        "314420b8.d304b",
        "4401d5d9.b64614"
      ]
    ]
  },
  {
    "id": "18d68d36.983d0b",
    "type": "http request",
    "z": "6c3019e7.2fab48",
    "name": "Read from TS Ch01",
    "method": "GET",
    "ret": "txt",
    "url": "https://api.thingspeak.com/channels/XXXXX/feeds/last?key=XXXXXXXXXXXX",
    "tls": "",
    "x": 284,
    "y": 175,
    "wires": [
      [
        "97b4edf3.4a203"
      ]
    ]
  },
  {
    "id": "db85624a.c2a22",
    "type": "inject",
    "z": "6c3019e7.2fab48",
    "name": "Trigger",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "100",
    "crontab": "",
    "once": true,
    "x": 97,
    "y": 205,
    "wires": [
      [
        "18d68d36.983d0b",
        "11770fd7.60aa1"
      ]
    ]
  },
  {
    "id": "11770fd7.60aa1",
    "type": "http request",
    "z": "6c3019e7.2fab48",
    "name": "Read from TS Ch02",
    "method": "GET",
    "ret": "txt",
    "url": "https://api.thingspeak.com/channels/XXXXX/feeds/last?key=XXXXXXXXXXX",
    "tls": "",
    "x": 284,
    "y": 225,
    "wires": [
      [
        "2a116bcb.edae8c"
      ]
    ]
  },
  {
    "id": "f4921f10.22cda8",
    "type": "tcp in",
    "z": "6c3019e7.2fab48",
    "name": "WSN-2 Data",
    "server": "client",
    "host": "localhost",
    "port": "60004",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "~E",
    "topic": "",
    "base64": false,
    "x": 98.94442749023438,
    "y": 118.69444274902344,
    "wires": [
      [
        "ac8e1f8a.248b88"
      ]
    ]
  },
  {
    "id": "ac8e1f8a.248b88",
    "type": "function",
    "z": "6c3019e7.2fab48",
    "name": "Read & Parse Data",
    "func": "//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 4;\nvar temMsg = {};\nvar humMsg = {};\nvar serMsg = {};\nvar tem_payload;\nvar hum_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttem_payload = context.bytes_array.slice(10,-5);\n\thum_payload = context.bytes_array.slice(12,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOD (HEX FORMAT)\n\tvar byte_tem_payload = new Buffer(tem_payload.length);\n\tfor(var i=0;i<tem_payload.length;i++){\n\t\tbyte_tem_payload[i] = tem_payload[i];\n\t}\n\t\n\tvar byte_hum_payload = new Buffer(hum_payload.length);\n\tfor(var i=0;i<hum_payload.length;i++){\n\t\tbyte_hum_payload[i] = hum_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tvar num_tem = byte_tem_payload.readUInt16BE(0,2);\n\ttemMsg = {payload: num_tem};\n\t\n\tvar num_hum = byte_hum_payload.readUInt16BE(0,2);\n\thumMsg = {payload: num_hum};\n\t\n\t// ranging samples from [0 , 2^16-1] to [0 , 100]\n\tvar temp = Math.round(num_tem*(100/65534));\n\tvar humid = Math.round(num_hum*(100/65534));\n\t\n\t//MAKE a Serial Data string out of TWO Single Fields\n\t//serMsg.temperature = temp;\n\t//serMsg.humidity = humid;\n\tserMsg.payload = {};\n\tvar newdate = new Date().toTimeString();\n\tserMsg.payload.date = newdate;\n\tserMsg.payload.Humidity = humid;\n\tserMsg.payload.Temperature = temp;\n\n\t//return [msg,temMsg,humMsg,serMsg];\n\treturn [serMsg];\n}\nelse{\n\treturn null;\n}\n\n\n",
    "outputs": "1",
    "noerr": 0,
    "x": 283,
    "y": 118,
    "wires": [
      [
        "c88811a9.1f63b"
      ]
    ]
  },
  {
    "id": "c88811a9.1f63b",
    "type": "http request",
    "z": "6c3019e7.2fab48",
    "name": "Send to TS Ch02",
    "method": "POST",
    "ret": "txt",
    "url": "https://api.thingspeak.com/update?api_key=XXXXXXXXXXX&field1={{payload.Temperature}}&field2={{payload.Humidity}}",
    "tls": "",
    "x": 485.09596824645996,
    "y": 117.39388275146484,
    "wires": [
      []
    ]
  },
  {
    "id": "97b4edf3.4a203",
    "type": "function",
    "z": "6c3019e7.2fab48",
    "name": "Topic Ch01",
    "func": "msg.topic = \"ch01\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 477,
    "y": 175,
    "wires": [
      [
        "4661d755.c698d8"
      ]
    ]
  },
  {
    "id": "e07815b5.4bb178",
    "type": "function",
    "z": "6c3019e7.2fab48",
    "name": "Average",
    "func": "var temp1;\nvar temp2;\nvar average;\nvar result = {}\n\nif(msg.topic === \"ch01\"){\ntemp1 = msg.payload.field1;\n}\n\nelse if(msg.topic === \"ch02\"){\ntemp2 = msg.payload.field1;\n}\n\naverage = (Number(temp1) + Number(temp1))/2;\nresult = {payload: average};\n\nreturn [result];",
    "outputs": "1",
    "noerr": 0,
    "x": 680,
    "y": 37,
    "wires": [
      [
        "27db79f3.f4c3c6"
      ]
    ]
  },
  {
    "id": "4661d755.c698d8",
    "type": "json",
    "z": "6c3019e7.2fab48",
    "name": "JSON",
    "x": 622,
    "y": 199,
    "wires": [
      [
        "e07815b5.4bb178",
        "47d5582d.bb3dc"
      ]
    ]
  },
  {
    "id": "2a116bcb.edae8c",
    "type": "function",
    "z": "6c3019e7.2fab48",
    "name": "Topic Ch01",
    "func": "msg.topic = \"ch02\"\nreturn msg;",
    "outputs": 1,
    "x": 477,
    "y": 225,
    "wires": [
      [
        "4661d755.c698d8"
      ]
    ]
  },
  {
    "id": "f4973854.a897e",
    "type": "e-mail",
    "z": "6c3019e7.2fab48",
    "server": "smtp.gmail.com",
    "port": "465",
    "name": "XXXXXXXX@yahoo.com",
    "dname": "Email Sender",
    "x": 980,
    "y": 97,
    "wires": []
  },
  {
    "id": "47d5582d.bb3dc",
    "type": "debug",
    "z": "6c3019e7.2fab48",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 774,
    "y": 202,
    "wires": []
  },
  {
    "id": "4401d5d9.b64614",
    "type": "twitter out",
    "z": "6c3019e7.2fab48",
    "twitter": "",
    "name": "Tweet",
    "x": 970,
    "y": 157,
    "wires": []
  }
]